@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background: #f7f8fa;
    color: #1d252d;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background: #f7f8fa;
    color: #1d252d;
  }
}
